<p id="notice"><%= notice %></p>

<p>
  <b>Imput:</b>
  <%= @format.imput %>
</p>

<p>
  <b>Output:</b>
  <%= @format.output %>
</p>

<p>
  <b>Material:</b>
  <%= @format.material %>
</p>

<p>
  <b>Tool:</b>
  <%= @format.tool %>
</p>

<p>
  <b>Operation:</b>
  <%= @format.operation %>
</p>

<p>
  <b>Caution:</b>
  <%= @format.caution %>
</p>

<p>
  <b>Intention:</b>
  <%= @format.intention %>
</p>

<p>
  <b>Customize:</b>
  <%= @format.customize %>
</p>


<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
